.top-left{
  background-color: orange;
}

.top-right{
  background-color: green;
}

.bottom-left{
  background-color: purple;
}

.bottom-right{
  background-color: dodgerblue;
}

.banner-button{
  margin: 5px;
}